
{% extends 'indice/index.html' %}

{% block header_index %}
{% endblock header_index %}

{% block pruebaTemplate %}

    <div class='container' >
        <div class='abs-center'>    
            <h1>HOLA {{user.username}} EDITA TUS DATOS</h1>
            <br>
            <form action={% url 'editprofile' %} class='border p-3 form' method='post'>{% csrf_token %}
                <table>
                    {{miFormulario.as_table}}
                </table>
            <br>
            <input type='submit',value='Enviar'>
            <form>
        </div>
    </div>
{% endblock pruebaTemplate %}